<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Auteur:{{book.author}}</mat-card-title>
      <mat-card-subtitle>Titre: {{book.title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       {{book.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goBack()">Go back</button>
      <button mat-button (click)="editBook()">Edit Book</button>
    </mat-card-actions>
  </mat-card>
  