<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Title">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Author">
      <mat-option value="option">Syllah</mat-option>
      <mat-option value="option">Oumar</mat-option>
      <mat-option value="option">Barry</mat-option>
    </mat-select>
  </mat-form-field>

</div>
<button mat-flat-button class="button-new" color="primary">Edit Book</button>
