<mat-toolbar id="mat-toolbar" class="toolbarMenu">
    <mat-toolbar-row class="container">
      <span class="separation-toolbar"></span>
      <h1><a href="/">Book Store</a></h1>
  
      <span class="separation-fin"></span>
  
      <a routerLink="/" routerLinkActive="true"><span>Log In</span></a>
      <span class="separation-toolbar"></span>
  
      <a routerLink="/" routerLinkActive="true"><span>Create Account</span></a>
      <span class="separation-toolbar"></span>
  
      <a routerLink="/books" routerLinkActive="true"><span>Books</span></a>
      <span class="separation-toolbar"></span>

      <a routerLink="/admin" routerLinkActive="true"><span>Admin</span></a>
  
    </mat-toolbar-row>
  </mat-toolbar>
  